#remember to save the .env as .env.local
NEXT_PUBLIC_PROJECT_ID="19880450-9512-4857-a7a9-c29d16110034"
NEXT_PUBLIC_CLIENT_KEY="cbIQ6bvFEBm8ZgVkpox4q0mpxJtxAgqj3ra4VQt"
NEXT_PUBLIC_APP_ID="124f61c4-f5ca-486c-a686-ae80b6966b72"
NEXT_PUBLIC_SERVER_URL=""
DATABASE_URL="postgresql://postgres.xxqmgsionffnwqujcuio:123456789okchuane@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres"
# if use waleltconnect, set walletconnect project id, created in https://walletconnect.com/
NEXT_APP_WALLETCONNECT_PROJECT_ID="dc5d94f1f7e477a174c4e429e6c7c838"

UNSTOPPABLE_DOMAINS_API_KEY=